In [1]:
#import all required modules
import pandas as pd
from functools import reduce
from IPython.core.display import display

# Data Cleaning
### Datasets Used:
<ol>
    <li> annual-new-registrations-of-cars-by-make.csv
    <li> road-traffic-conditions.csv
    <li> annual-motor-vehicle-population-by-type-of-fuel-used.csv
    <li> Carpark Availability API
    <li> hdb-carpark-information.csv
    <li> length-of-road-maintained-by-lta.csv
    <li> number-of-lta-road-facilities.csv
    <li> causes-of-road-accidents-causes-of-accidents-by-severity-of-injury-sustained.csv

# Datasets 1 & 2

In [2]:
pd.set_option('display.max_rows', 100)
df1 = pd.read_csv(r'./Datasets/(1) annual-new-registrations-of-cars-by-make/(1) total-annual-new-registration-by-make.csv')
df1 = df1.rename(columns = {'make':'brand','number':'number_sold'})
df1 = df1.fillna(0)
df2 = df1.set_index(['year','brand'])
df3 = df2.fillna(0)
df3.to_csv('./Datasets/(1) cleaned.csv')
unique_values = df1['year'].unique()

df4 = df3.reset_index()
mean_values = [[i] for i in unique_values]

i=0

for year in mean_values:
    mean_values[i].append(round(df4.loc[df4['year']==unique_values[i]]['number_sold'].sum()))
    i = i+1


df5 = pd.DataFrame(data=mean_values,columns=['Year','Total Number of Cars Sold'])


df6 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(3) average-speed-during-peak-hours.csv')
df7 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(2) average-daily-traffic-volume-entering-the-city.csv')
df7.to_csv('./Datasets/(2) cleaned.csv')
df6.to_csv('./Datasets/(3) cleaned.csv')

df6 = df6.rename(columns={'ave_speed_expressway':'Average Expressway Speed','ave_speed_arterial_roads':'Average Arterial Roads Speed','year':'Year'})
df7 = df7.rename(columns={'ave_daily_traffic_volume_entering_city':'Average Traffic Volume Entering City','year':'Year'})
df_list = [df5,df6,df7]
df_final = reduce(lambda left,right: pd.merge(left,right,on='Year'), df_list)
df_final.to_csv('./Datasets/(1,2,3) cleaned.csv')
display(df3)
display(df_final)

                         number_sold
year brand
2005 Toyota                  31127.0
     Nissan                  17034.0
     Hyundai                 12860.0
     Honda                   11274.0
     Mitsubishi               6422.0
...                              ...
2017 Toyo Ace                    0.0
     Wuling                      0.0
     Zotye                       0.0
     Others                      0.0
     The London Taxi Co          0.0

[901 rows x 1 columns]

,Year,Total Number of Cars Sold,Average Expressway Speed,Average Arterial Roads Speed,Average Traffic Volume Entering City
0,2005,109376,63.0,27.2,244000
1,2006,117062,61.6,27.1,270400
2,2007,106710,62.4,26.9,278300
3,2008,97348,63.3,26.7,278100
4,2009,68862,62.0,27.9,278400
5,2010,42002,62.3,28.0,293300
6,2011,28270,62.5,28.5,300000
7,2012,27899,63.1,28.6,292000
8,2013,22472,61.4,28.9,289000
9,2014,28932,64.1,28.9,300400

In [3]:
df8 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(4) length-of-roads-kilometres.csv')
df8 = df8.rename(columns={'year':'Year','road_type':'Road Type','road_length':'Road Length'})
df8 = df8.set_index(['Year','Road Type'])
display(df8)

                     Road Length
Year Road Type
2005 Local Road             2036
     Arterial Road           594
     Collector Road          455
     Expressway              150
2006 Local Road             2040
     Arterial Road           604
     Collector Road          468
     Expressway              150
2007 Local Road             2042
     Arterial Road           613
     Collector Road          489
     Expressway              153
2008 Local Road             2043
     Arterial Road           621
     Collector Road          500
     Expressway              161
2009 Local Road             2046
     Arterial Road           627
     Collector Road          521
     Expressway              161
2010 Local Road             2047
     Arterial Road           627
     Collector Road          521
     Expressway              161
2011 Local Road             2048
     Arterial Road           645
     Collector Road          557
     Expressway              161
2012 Local Road             2051
     Arterial Road           652
     Collector Road          561
     Expressway              161
2013 Local Road             2055
     Arterial Road           662
     Collector Road          571
     Expressway              164
2014 Local Road             2055
     Arterial Road           698
     Collector Road          578
     Expressway              164
2015 Local Road             2057
     Arterial Road           699
     Collector Road          580
     Expressway              164
2016 Local Road             2059
     Arterial Road           704
     Collector Road          585
     Expressway              164
2017 Local Road             2056
     Arterial Road           704
     Collector Road          576
     Expressway              164

In [4]:
df9 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(5) traffic-facilities.csv')
df10 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(6) vehicular-facilities.csv')
df9 = df9.rename(columns={'year':'Year','facility':'Type of Facility','number':'Count'})
df10 = df10.rename(columns={'year':'Year','facility':'Type of Facility','number':'Count'})
df_final = pd.concat([df9,df10])
df_final = df_final.sort_values(by=['Year','Count'])
df_final = df_final.reset_index()
df_final = df_final.drop(columns=['index'])
df_final = df_final.set_index(['Year','Type of Facility'])

display(df_final)

                                      Count
Year Type of Facility
1994 ERP Gantries                         0
     Vehicular Underpasses & Tunnels     10
     Flyovers                            79
     Vehicular Bridges                  180
     Traffic Lights                    1256
...                                     ...
2017 Vehicular Underpasses & Tunnels     32
     ERP Gantries                        78
     Flyovers                           124
     Vehicular Bridges                  222
     Traffic Lights                    2449

[120 rows x 1 columns]

In [5]:
# df8 = pd.read_csv(r'./Datasets/(2) road-traffic-conditions/(8) causes-of-accidents-by-severity-of-injury-sustained.csv')
# df8 = df8.dropna()
# display(df8)
# df8 = df8.rename(columns={'year':'Year','road_user_group':'Road User Group','causes_of_accident':'Cause of Accident','number_of_accidents':'Number of Accidents'})
# df8 = df8.set_index(['Year','accident_classification'])
# df8.to_csv('./Datasets/(8) cleaned.csv')
#
# display(df8)